        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            background-color: rgb(255, 255, 255);
        }
        
        .container {
            width: 100%;
        }
        
        nav ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
        
        nav ul li {
            padding: 0 1em;
            list-style: none;
            font-size: 15px;
            cursor: pointer;
        }
        
        nav ul li a {
            text-decoration: none;
            color: black;
        }
        
        nav ul li a:hover {
            text-decoration: underline;
        }
        
        header {
            text-align: center;
            margin-top: 7em;
        }
        
        .img {
            padding-bottom: 1em;
        }
        
        input[type=text] {
            width: 30%;
            float: inline-start;
            border: none;
            font-size: 14px;
            padding: 12px 40px 12px 15px;
            outline: none;
            cursor: pointer;
            margin-left: -0.4em;
            margin-right: -0.4em;
            text-align: left;
            border: 1px solid rgb(179, 174, 174);
            border-left: none;
            border-right: none;
        }
        
        .search {
            width: 4%;
            padding: 10px 7px 10px 5px;
            color: rgb(172, 165, 165);
            font-size: 17px;
            border-left: none;
            cursor: pointer;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border: none;
            cursor: text;
            border: 1px solid rgb(179, 170, 170);
            border-right: none;
        }
        
        .micro {
            width: 4%;
            padding: 10px 7px 10px 5px;
            color: rgb(35, 79, 224);
            font-size: 17px;
            border: 1px solid grey;
            cursor: pointer;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 1px solid rgb(175, 169, 169);
            border-left: none;
        }
        
        .sub {
            margin-top: 2.5em;
        }
        
        .sub p {
            display: inline-block;
            width: 150px;
            padding: 0.5em 0em;
            margin-right: 1em;
            background-color: rgb(209, 202, 209);
            border-radius: 2px;
            cursor: pointer;
            color: rgb(82, 78, 78);
        }
        
        .sub p:hover {
            color: black;
            text-decoration: underline;
            color: rgb(27, 26, 26);
        }
        
        .lang {
            font-size: 13px;
            margin-top: 3em;
        }
        
        .lang ul {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        
        .lang ul li {
            padding: 0 1em;
            list-style: none;
        }
        
        .lang a {
            text-decoration: none;
        }
        
        .lang a:hover {
            text-decoration: underline;
        }
        
        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        footer ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 9em;
        }
        
        footer ul li {
            padding: 0 1em 0 1em;
            list-style: none;
            font-size: 15px;
        }
        
        footer ul li a {
            color: rgb(58, 54, 54);
            text-decoration: none;
        }
        
        footer ul li a:hover {
            color: rgb(58, 54, 54);
            text-decoration: underline;
        }
        
        @media screen and (max-width: 800px) {
            .search {
                width: 7%;
                padding: 11px 5px 12px 5px;
                font-size: 15px;
            }
            .micro {
                width: 7%;
                padding: 11px 5px 12px 5px;
                font-size: 15px;
            }
            footer ul li {
                padding: 0 0.8em 0 0.7em;
                list-style: none;
                font-size: 10px;
            }
            input[type=text] {
                width: 70%;
            }
        }